<ion-card >
  <ion-card-subtitle class="ion-margin">

    <!-- Metodo para abrir noticia -->
    <ion-row class="ion-aling-item-center">
      <ion-col  class="ion-margin">
        <span class="article-index"> {{ index }} </span>
        <span class="article-name" > {{ noticia.source.name}}</span>
      </ion-col>

      <ion-col align="right">
      <ion-button (click)="lanzarMenu()" fill="clear">
        <ion-icon  slot="icon-only" name="ellipsis-horizontal-outline"></ion-icon>
      </ion-button>
    </ion-col>
    </ion-row>
  </ion-card-subtitle>



  <ion-card-title class="ion-padding-horizontal  ion-margin-botton">
    {{ noticia.title }}
  </ion-card-title>
  <ion-img  *ngIf="noticia.urlToImage" [src]="noticia.urlToImage" (click)="Abrir()">
  </ion-img>

  <ion-card-content *ngIf="noticia.description">
    <p>{{noticia.description}}</p>
    <p (click)="Abrir()"> Ver mas...</p>
  </ion-card-content>

</ion-card>