<ion-card class="cardnoticia">
  <ion-card-subtitle class="ion-margin">
    <ion-row class="ion-aling-item-center">
      <ion-col  class="ion-margin-top">
        <span class="article-name" > {{ nota.source.name}}</span>
      </ion-col>

      <ion-col align="right">
         <!--metodo action-sheet-->
      <ion-button (click)="onClick()" fill="clear">
        <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-col>
    </ion-row>
  </ion-card-subtitle>

  <ion-card-title class="ion-padding-horizontal  ion-margin-botton">
    {{ nota.title }}
  </ion-card-title>
  <ion-img  *ngIf="nota.urlToImage" [src]="nota.urlToImage" class="ion-margin">
  </ion-img>

  <ion-card-content *ngIf="nota.description">
    <p>{{nota.description}}</p> 
    <!-- Metodo para abrir noticia -->
    <a class="vinculo" (click)="Abrir()"> Ver mas...</a>
  </ion-card-content>

</ion-card>