.article-name{
    color: #311B92;
    size: 13px;
    font-weight: bolder;
}

.cardnoticia{
    height: 100%;
    width: 100%;
    background: #D1C4E9;
    color: #000000;
    
}

.vinculo{
     color: #311B92;
}